table {
    width: 100%;
    /* border-collapse: collapse;
    margin-top: 20px; */
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  button {
    padding: 5px 10px;
    cursor: pointer;
  }

  mat-paginator {
    margin-top: 10px;
  }

  .table-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
  }
  